*{ /*Seletor universal */
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{ /*definições da estrutura do conteúdo da página */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to bottom, #11112c 0%, #0086b3 100%);
}

nav{ /*configurações de formato do menu */
    background: black;
    height: 80px;
    width: 100%;
}
label.logo{ /* Logo do site*/
    color:white;
    font-size: 40px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{ /* Definição do lado da lista*/
    float:right;
    margin-right: 20px;

}
nav ul li{ /* Definição do tamanho da lista*/
    display:inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a{ /* Configurações do texto*/
    color:white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}
a.activate, a:hover{ /* Botão responsivo a click*/
    background: #222527b6;
    transition: .5s;

}

@media (max-width : 952px){ /* Responsividade do site*/
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}
@media (max-width : 858px){ /* Responsividade do site*/
    .checkbtn{
        display:block;
    }
    ul{ /* Definições da lista*/
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #31363ab6;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all.5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a.hover,a.active{
        background: none;
        color:#8d9aa3b6;
    }
    #check:checked ~ ul{
        left:0;
    }
}
.texto{ /* Formartação do texto*/

    box-shadow: 1px 1px 5px #363636;
    background-color: #000000;
    padding-left: 40px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin-top: 40px;
    color: white;
    margin-right: 5px;
    text-align: justify;

}
@-webkit-keyframes fadeIn { /*definições do efeito fadeIn*/
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

    .fadeIn {
        -webkit-animation: fadeIn 3s ease-in-out;
        -moz-animation: fadein 3s ease-in-out;
        -o-animation: fadeIn 3s ease-in-out;
        animation: fadeIn 3s ease-in-out;
        }
.parent { /*Definição Grid layout*/
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(4, 200px);
    grid-column-gap: 70px;
    grid-row-gap: 40px;
    margin-left: 25%;
    font-size: 1,5em;
    font-weight: bold;
    margin-top: 2%;
    
    }
  
    p{ /*Definições legendas*/
        color: white;
        text-align: center;
    }

    h1{ /*Definições título*/
        color: white;
        text-align: center;
        font-size: 175%;
    }

    /*Definições de área de grid*/
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; margin-top: 16%;}
    .div3 { grid-area: 1 / 3 / 2 / 4; margin-top: 16%;}
    .div4 { grid-area: 2 / 1 / 3 / 2; }
    .div5 { grid-area: 2 / 2 / 3 / 3; margin-top: 16%;}
    .div6 { grid-area: 2 / 3 / 3 / 4; margin-top: 16%;}
    .div7 { grid-area: 3 / 1 / 4 / 2; }
    .div8 { grid-area: 3 / 2 / 4 / 3; margin-top: 16%;}
    .div9 { grid-area: 3 / 3 / 4 / 4; margin-top: 16%;}
    .div10 { grid-area: 4 / 1 / 5 / 2; }
    .div11 { grid-area: 4 / 2 / 5 / 3; margin-top: 16%;}
    .div12 { grid-area: 4 / 3 / 5 / 4; margin-top: 16%;}

  footer{ /*Definições de footer*/
    background-color: #000000;
    text-align: center;
    font-size: 110%;
    color: aliceblue;
    padding-top: 3%;
    padding-bottom: 1%;
    margin-top: 15%;
    
}
  


