*{ /*Seletor universal */
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{ /*definições da estrutura do conteúdo da página */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to bottom, #11112c 0%, #0086b3 100%);
    overflow-x: hidden ;
}

nav{ /*configurações de formato do menu */
    background: black;
    height: 80px;
    width: 100%;
}
label.logo{ /* Logo do site*/
    color:white;
    font-size: 40px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{ /* Definição do lado da lista*/
    float:right;
    margin-right: 20px;

}
nav ul li{ /* Definição do tamanho da lista*/
    display:inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a{ /* Configurações do texto*/
    color:white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}
a.activate, a:hover{ /* Botão responsivo a click*/
    background: #222527b6;
    transition: .5s;

}

@media (max-width : 952px){ /* Responsividade do site*/
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}
@media (max-width : 858px){ /* Responsividade do site*/
    .checkbtn{
        display:block;
    }
    ul{ /* Definições da lista*/
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #31363ab6;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all.5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a.hover,a.active{
        background: none;
        color:#8d9aa3b6;
    }
    #check:checked ~ ul{
        left:0;
    }
}
 /*definições do conteúdo da página*/
  .checkout-panel {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    width: 940px;
    height: 500px;
    margin-bottom: 5%;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    margin-left: 17%;
  }
  
  .panel-body {
    padding: 45px 80px 0;
    flex: 1;
  }
   
  .title {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 40px;
    color: #2e2e2e;
  }
  
  .payment-method {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
  }
   
  .method {
    display: flex;
    flex-direction: column;
    width: 382px;
    height: 122px;
    padding-top: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: rgb(249, 249, 249);
    justify-content: center;
    align-items: center;
  }
   
  .card-logos {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
  }
   
  .radio-input {
    margin-top: 20px;
  }
   
  input[type='radio'] {
    display: inline-block;
  }
  .input-fields {
    display: flex;
    justify-content: space-between;
  }
   
  .input-fields label {
    display: block;
    margin-bottom: 10px;
    color: black;
  }
   
  .info {
    font-size: 12px;
    font-weight: 300;
    display: block;
    margin-top: 50px;
    color:black;
  }
   
  div[class*='column'] {
    width: 382px;
  }
   
  input[type='text'],
  input[type='password'] {
    font-size: 16px;
    width: 100%;
    height: 50px;
    padding-right: 40px;
    padding-left: 16px;
    color: rgba(46, 46, 46, .8);
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
    outline: none;
  }
   
  input[type='text']:focus,
  input[type='password']:focus {
    border-color: rgb(119, 219, 119);
  }
   
  #date { background: url(img/icons_calendar_black.png) no-repeat 95%; }
  #cardholder { background: url(img/icons_person_black.png) no-repeat 95%; }
  #cardnumber { background: url(img/icons_card_black.png) no-repeat 95%; }
  #verification { background: url(img/icons_lock_black.png) no-repeat 95%; }
   
  .small-inputs {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }
   
  .small-inputs div {
    width: 182px;
  }
 

  .card-group1 { /*Definições de botão voltar*/
    border-radius: 50px;
    padding: 12px;
    background-color:#000000;
    width: 175px;
    font-size: 20px;
    color: aliceblue;
    position:absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 2%;
    margin-bottom: 5%;
    left:25%;
    
}
.card-group2  { /*Definições de botão de finalizar*/
    border-radius: 50px;
    padding: 12px;
    background-color:#000000;
    width: 175px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    position:absolute;
    margin-top: 2%;
    margin-bottom: 10%;
    left:65%;
}

  footer{/*Definições footer*/
    background-color: #000000;
    text-align: center;
    font-size: 110%;
    color: aliceblue;
    padding-top: 3%;
    padding-bottom: 1%;
    margin-top: 15%;
    
}